.menu-button {
  width: 80% !important;
  height: 25%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background: #ff4c4c !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 1.7em !important;
  border-radius: 0.5em !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.3s ease !important;
}

.menu-button:active {
  background: #b93c5a !important;
}

.icon {
  font-size: 4rem !important;
}
