.sa-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  gap: 1em;

  @media screen and (max-width: 1199px) {
    justify-content: start;
  }
}

.sa-content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  overflow-y: scroll;
  height: 740px;
  min-width: 80%;
  padding: 8px 0 0 0;
  margin: 0 !important;
  border-top: 1px solid #fbe2dc;
  border-bottom: 1px solid #fbe2dc;

  @media screen and (max-width: 1095px) {
    justify-content: center;
  }

  @media screen and (max-height: 780px) {
    height: 90%;
  }
}

.sa-button-container {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 80% !important;
  display: flex;
  justify-content: end;
}

.add-button {
  background: #8a6a5b !important;
  font-weight: bold !important;
  color: #dad4cf;
}

.add-button:hover {
  background: #a98a74 !important;
}

@media screen and (max-width: 1199px) {
  .sa-content-container {
    min-width: 100%;
    max-width: 100%;
  }

  .sa-button-container {
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
  }
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.2em;
  border-radius: 0.75em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25em;
  height: 30em;
  padding: 0.5em 1em;
  margin: 0;
  background-color: #dad4cf;
  @media screen and (max-width: 500px) {
    width: 90%;
    height: 40%;
  }
}

.modal-header-container,
.modal-button-container {
  height: 10%;
  width: 100%;
  padding: 0 !important;
}

.modal-header-container {
  display: flex;
  align-items: center;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  padding: 0 !important;
  gap: 0.5em;
}

.modal-button-container {
  width: 50%;
  display: flex;
  gap: 0.5em;
  justify-content: end;
}

.preview-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  width: 100%;
  height: 15em;
  margin: 0 !important;
  border: 1px solid #ddd;
}

.save-button {
  background: #8a6a5b !important;
  font-weight: bold !important;
  border-radius: 50px !important;
  width: 25%;
  height: 85%;
}

.save-button:hover {
  background: #a98a74 !important;
}

.cancel-button {
  height: 85%;
  width: 25%;
}

.cancel-button,
.choose-image-button {
  color: #8a6a5b !important;
  border: 2px solid !important;
  font-weight: bold !important;
  border-radius: 50px !important;
}

.cancel-button:hover,
.choose-image-button:hover {
  color: #a98a74 !important;
}

.preview-image {
  margin-top: 0.75em;
  width: 100%;
  max-height: 12em;
  object-fit: contain;
  border-radius: 0.5em;
}

.outlined-button,
.contained-button {
  border-radius: 50px;
  font-weight: bold;
}

.outlined-button {
  border: 2px solid;
}

.broken-image-icon {
  color: white !important;
  font-size: 3em !important;
}
