#root {
    margin: 0 !important;
    padding: 0 !important;
}

.main-container {
    display: flex;
    align-content: center;
    border: 2px solid black;
    border-radius: 1em;
    margin-top: 6em;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    background-color: rgb(247, 239, 245);
    padding: 1em 1.2em !important;
    gap: 1em;
    width: 100em;
    height: 50em;
    border-radius: 1em;
    overflow-y: scroll;
    height: auto;

}

::-webkit-scrollbar {
    width: 6px;  /* Adjust the width */
    height: 6px; /* Adjust the height for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5); /* Semi-transparent color */
    border-radius: 3px; /* Rounded edges */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.8); /* Slightly darker on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* No background to blend with content */
  }
  