.slide-container {
    width: 100% !important;
    height: 100% !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0.5em !important; 
}