.sc-card-content {
    padding: 1em 0.5em 0.5em 1em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.text-container {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    
}

.card-button-container {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 !important;
}

.card-delete-button {
    padding: 1em 0.5em 0em 0.5em !important
}