.commute-container {
    flex: 1 !important;
    flex-grow: 1 !important;
    min-width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    border-radius: 0.5em 0.5em 0 0 !important;
}

.table-container {
    height: 100%; 
}

.table {
    height: 100%;
}

.table-row {
    width: 100%;
    height: calc(100% / 7) !important;
}

.title-row {
    background: rgba(100, 250, 113, 0.7); 
    color: #FFFFFF;
}

.table-cell {
    font-size: 0.7em !important;
    padding-left: 1em !important;
}

.table-cell-title {
    font-weight: bold !important;
    width: 15% !important
}

.destination {
    width: 70% !important;
}

@media screen and (min-width: 1921px) {
    .table-cell {
        font-size: 1em !important;
    }
    
}